.uly-clip-icon:hover {
	color: #888;
}
.uly-clip-icon {
	display: inline-block;
	cursor: pointer;
	text-indent: 5px;
	width: 16px;
	height: 16px;
	color: #444;
}
.octicon-check {
	color: #3a874f;
}
.octicon-check:hover {
	color: #8dc63f;
}
.octicon-x {
	color: #b81b10;
}
.octicon-x:hover {
	color: #E12114;
}
.uly-farOnTop {
	position: absolute;
	top: -10000px;
}
