.uly-clip-icon:hover {
	color: #888;
}
.uly-clip-icon {
	display: inline-block;
	cursor: pointer;
	text-indent: 5px;
	width: 16px;
	height: 16px;
	color: #444;
}
.uly-farOnTop {
	position: absolute;
	top: -10000px;
}
