/* This file is build with less. Don't modify it, changes will be overriden.
Instead modify the matching .less file. */
.uly-clip-icon {
  display: inline-block;
  cursor: pointer;
  text-indent: 5px;
  width: 16px;
  height: 16px;
  color: #444;
}
.uly-clip-icon:hover {
  color: #999;
}
.octicon-check {
  color: #3a874f;
}
.octicon-check:hover {
  color: #8dc63f;
}
.octicon-x {
  color: #b81b10;
}
.octicon-x:hover {
  color: #E12114;
}
.uly-farOnTop {
  position: absolute;
  top: -10000px;
}
.ticket-button-icon {
  text-indent: 0px;
  color: #444;
  vertical-align: top;
}
.ticket-button-text {
  font: 11px sans-serif;
  font-weight: bolder;
  font-family: sans-serif;
  color: #444;
  padding-top: 7px !important;
  vertical-align: top;
}
.ticket-button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid silver;
  border-right: transparent;
  position: relative;
  min-width: 25px;
  height: 30px;
  margin-bottom: 1px;
  color: #444;
}
.ticket-button > span {
  padding: 6px 3px;
}
.ticket-button > span:not(.status-shim) {
  display: inline-block;
}
.ticket-button:hover {
  color: #222;
  border-color: silver;
  background-color: silver;
}
.ticket-button:hover + .ticket-button {
  border-left-color: silver;
}
.ticket-button:first-of-type {
  margin-left: 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ticket-button:last-of-type {
  border-right: 1px solid silver;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ticket-button:last-of-type:hover {
  border-right-color: silver;
}
.status-shim {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}
.status-shim:hover {
  color: white;
}
.status-fail .status-shim,
.status-success .status-shim {
  display: inline-block;
}
.status-success {
  border-color: #8dc63f !important;
}
.status-success + .ticket-button {
  border-left-color: #8dc63f !important;
}
.status-success .status-shim {
  background: #8dc63f;
}
.status-fail {
  border-color: #ee1c25 !important;
}
.status-fail + .ticket-button {
  border-left-color: #ee1c25 !important;
}
.status-fail .status-shim {
  background: #ee1c25;
}
.status-fadeaway {
  border-color: silver !important;
  transition: border-color 2s;
}
.status-fadeaway .status-shim {
  display: inline-block;
  transition: opacity 2s;
  opacity: 0;
}
.status-fadeaway + .ticket-button {
  border-left-color: silver !important;
  transition: border-left-color 2s;
}
[id^='rallydetailtitle'] > .x4-component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
