@grey: #444;
@grey-hover: #999;
@grey-light: #C7C7C7;
@green: #3a874f;
@blue: #00a9e0;
@green-hover: #8dc63f;
@green-success: #8dc63f;
@fadeaway-tempo: 2s;
.uly-clip-icon {
  display: inline-block;
  cursor: pointer;
  text-indent:  5px;
  width: 16px;
  height: 16px;
  color: @grey;
  &:hover {
    color: @grey-hover;
  }
}
.octicon-check {
  color: @green;
  &:hover {
    color: @green-hover;
  }
}
.octicon-x {
  color: #b81b10;
  &:hover {
    color: #E12114;
  }
}
.uly-farOnTop {
  position: absolute;
  top: -10000px;
}
.ticket-bar-icon {
  text-indent: 0px;
  color: @grey;
  // padding: 3px;
  vertical-align: top;
}
.ticket-bar-text  {
  font: 11px sans-serif;
  font-weight: bolder;
  font-family: sans-serif;
  color: @grey;
  padding-top: 7px !important;
  vertical-align: top;
}
.ticket-bar-border {
  display: inline-block;
  cursor: pointer;
  border: 1px solid @grey-light;
  border-right: transparent;
  position: relative;
  min-width: 25px;
  height: 30px;
  margin-bottom: 1px;
  & > span {
    padding: 6px 3px;
    &:not(.success-shim) {
      display: inline-block;
    }
  }
  &:hover {
    color: #333;
    border-color: @blue;
  }
  &:hover + .ticket-bar-border {
    border-left-color: @blue;
  }
  &:first-of-type {
    margin-left: 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &:last-of-type {
    border-right: 1px solid @grey-light;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    &:hover {
      border-right-color: @blue;
    }
  }
}
.success-shim {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #8dc63f;
  color: white;
  &:hover {
    color: white;
  }
}
.copy-succeeding {
  border-color: @green-success !important;
  .success-shim {
    display: inline-block;
  }
  & + .ticket-bar-border {
    border-left-color: @green-success !important;
  }
}
.copy-away {
  .success-shim {
    display: inline-block;
    transition: opacity @fadeaway-tempo;
    opacity: 0;
  }
  transition: border-color @fadeaway-tempo;
  & + .ticket-bar-border {
    transition: border-left-color @fadeaway-tempo;
  }
}
[id^='rallydetailtitle'] > .x4-component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
} 
